{% extends 'layouts/base.html' %}

{% block content %}
<div class="container">
  <div class="form-card">
    <h1>Create a New Trail</h1>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_name">Trail Name:</label>
        {{ form.name }}
      </div>
      <div class="form-group">
        <label for="id_distance">Distance:</label>
        {{ form.distance }}
      </div>
      <div class="form-group">
        <label for="id_elevation">Elevation Gain:</label>
        {{ form.elevation }}
      </div>
      <div class="form-group">
        <label for="id_difficultyType">Difficulty:</label>
        {{ form.difficultyType }}
      </div>
      <div class="form-group">
        <label for="id_nationalPark">National Park:</label>
        {{ form.nationalPark }}
      </div>

      <div class="form-group">
        <button type="submit">Create Trail</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}